@model ObjectUser.IdentityUserData;

@if (@ViewBag.isVisitor)
{
    <h1>Você está visitando o perfil de   @Model.userName</h1>
} else
{
    <h1>Bem vindo, @Model.userName, ao seu perfil  </h1>
}

@using (Html.BeginForm("ProcessUpdate", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group mt-3 mx-auto" style="display: flex; justify-content: center">
        
        <br>
@if (ViewBag.imageLink != null)
{
    <input type="file" id="file" name="file" accept="image/*" style="display:none;" disabled>
    <img id="preview" style="object-fit: cover; cursor: pointer; border: 1px solid #ccc; border-radius: 500px; width: 250px; height: 250px;" src=@ViewBag.imageLink>
}
else
{
    <input type="file" id="file" name="file" accept="image/*" style="display:none;">
    <img id="preview" style="object-fit: cover; cursor: pointer; border: 1px solid #ccc; border-radius: 500px; width: 250px; height: 250px;" src="https://st4.depositphotos.com/18664664/21428/v/600/depositphotos_214280098-stock-illustration-image-vector-icon-isolated-on.jpg">
}
    </div>
    <div class="form-group mt-5">
        @if (!@ViewBag.isVisitor)
        {
            <label for="userName">Seu nome</label>
        }

        @if (ViewBag.isVisitor)
        {
            @Html.TextBoxFor(m => m.userName, new { @class = "form-control", placeholder="Username", value=Model.userName, disabled = ViewBag.isVisitor})
        }
        else
        {
            @Html.TextBoxFor(m => m.userName, new { @class = "form-control", placeholder="Username", value=Model.userName})
        }
    </div>
    <div class="form-group mt-3">
        <label for="email">Email</label>
        @if (ViewBag.isVisitor)
        {
            @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder="xxx@xxx.com", value=Model.email, disabled = ViewBag.isVisitor})
        }
        else
        {
            @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder="xxx@xxx.com", value=Model.email})
        }
    </div>
    <div class="form-group mt-3">
        <label for="phoneNumber">Número de telefone</label>
        @if (ViewBag.isVisitor)
        {
            @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control", placeholder="+(55) 9 9999-9999", value=Model.phoneNumber, disabled = true})
        } else
        {
            @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control", placeholder="+(55) 9 9999-9999", value=Model.phoneNumber})
        }
    </div>


    @if (@ViewBag.isVisitor == false)
    {
        @Html.HiddenFor(m => m.id)

        <button type="submit" class="btn btn-primary mt-3">Atualizar dados</button>
    }
}
</div>

<script>
    const imageInput = document.getElementById('file');
    const preview = document.getElementById('preview');

    imageInput.addEventListener('change', (event) => {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      } else {
        preview.src = "";
      }
    });

    preview.addEventListener('click', () => {
      imageInput.click();
    });
</script>